<header>
  <h1>Flip Tiles</h1>
</header>

<section>

  <div class="flipbox">
    <div class="back">
      <p>Tile 0</p>
      <a href="" target="_blank">Enter!</a>
    </div>
    <div class="front">
      <h2>Tile 0</h2>
      <i class="fa fa-wrench"></i>
    </div>
  </div>

  <div class="flipbox">
    <div class="back">
      <p>Tile 1</p>
      <a href="" target="_blank">Enter!</a>
    </div>
    <div class="front">
      <h2>Tile 1</h2>
      <i class="fa fa-windows"></i>
    </div>
  </div>

  <div class="flipbox">
    <div class="back">
      <p>Tile 2</p>
      <a href="" target="_blank">Enter!</a>
    </div>
    <div class="front">
      <h2>Tile 2</h2>
      <i class="fa fa-fort-awesome"></i>
    </div>
  </div>

  <div class="flipbox">
    <div class="back">
      <p>Tile 3</p>
      <a href="" target="_blank">Enter!</a>
    </div>
    <div class="front">
      <h2>Tile 3</h2>
      <i class="fa fa-laptop"></i>
    </div>
  </div>

</section>