@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'San Francisco';
    src: url("./assets/fonts/San Francisco/pro/SF-Pro-Display-Regular.otf");
}

body {
    --webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    margin:0;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing:border-box;
}