@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'San Francisco';
    src: url("./assets/fonts/San Francisco/pro/SF-Pro-Display-Regular.otf");
}

.flip-card-front {
    backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back {
    perspective: 1000px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

body {
    --webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    margin:0;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing:border-box;
}